.img {
    height: 80%;
}

.text {
    font-size: 30px;
    padding-left: 5%;
    margin-bottom: 60px;
    color: #00a49c;
}

.text2 {
    font-size: 20px;
    margin-top: 220px;
    padding-left: 10%;
    color: #003633;
}