.img {
    height: 80%;
}

.textDidnt {
    font-size: 30px;
    padding-left: 10%;
    margin-bottom: 40px;
    color: #00a49c;
    margin-top: 150px;
}

.text2 {
    font-size: 20px;
    padding-left: 10%;
    color: #003633;
}