.container {
    font-family: sans-serif;
    text-align: center;
    background: #02a7e92c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
  
.button:hover {
    background-color: #F8AF86;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    margin-top: 20px; 
    margin-bottom: 10px;
    height: 4em;
}